/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Arial", sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

header a.btn-primary {
    background-color: #B8BBBD;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 40px;
}

header a.btn-primary:hover {
    background-color: #000000;
}

/* Estilos del banner */
.banner {
    position: relative;
}

.banner img {
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    object-fit: cover;
    opacity: 0.7;
}

#genre-list {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
}

/* Estilos de botones */
.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.btn:hover {
    background-color: #000000;
    color: #fff;
}

/* Estilos de botones primarios (Azul) */
.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Estilos de botones de acción (Verde) */
.btn-action {
    background-color: #4CAF50;
    color: #fff;
}

.btn-action:hover {
    background-color: #45a049;
}


/* Estilos de contenedor principal */
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

/* Estilos de la barra lateral */
aside {
    width: 25%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

/* Estilos de la lista de géneros */
#genre-list {
    width: 100%;
    text-align: center;
    padding: 10px;
}

#genre-list button {
    background-color: #5F5F5F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

#genre-list button:hover {
    background-color: #000000;
}

#genre-list button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Estilos de la lista de películas */
#movies-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10px;
}

#movies-container > div {
    width: calc(33.33% - 20px);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos de las imágenes de películas */
#movie-list img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

#movie-list img:hover {
    transform: scale(1.05);
}

/* Estilos de detalles de la película */
#movie-details {
    width: 30%;
    padding: 10px;
    text-align: center;
}

#movie-details img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

#movie-details h2 {
    font-size: 18px;
    margin: 10px 0;
}

#movie-details p {
    font-size: 14px;
    margin: 5px 0;
}

#movie-list h2 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

/* Estilos de botones de detalles */
#movie-details button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilos de la lista de películas favoritas */
#favorites-list {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#favorites-list div {
    width: calc(33.33% - 20px);
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos de imágenes de películas favoritas */
#favorites-list img {
    width: 100%;
    height: 900px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos de botones de películas favoritas */
#favorites-list button {
    background-color: #dc3545;
    font-size: 20px;
    color: #fff;
    border: none;
    padding: 30px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-top: 10px;
}

#favorites-list button:hover {
    background-color: #c82333;
}

/* Regla de medios para hacer la página responsive en dispositivos móviles */
@media (max-width: 767px) {
    main {
        justify-content: center;
    }

    #movies-container > div {
        width: calc(50% - 20px);
        margin: 0 10px;
    }
}

/* Estilos de contenedor principal en dispositivos móviles */
@media (max-width: 767px) {
    main {
        flex-direction: column;
    }

    #favorites-list div {
        width: 100%;
        margin: 10px 0;
    }
}

/* Estilos de botones de películas favoritas en dispositivos móviles */
@media (max-width: 767px) {
    #favorites-list button {
        width: 100%;
    }
}
